.page {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.fade-enter {
  opacity: 0.01;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-in;
}

.fade-exit {
  opacity: 1;
}

.fade-exit.fade-exit-active {
  opacity: 0.01;
  transition: opacity 50ms ease-in;
}

/* slide enter */
.slide-enter {
  opacity: 0;
  transform: scale(0.97) translateY(5px);
  z-index: 1;
}
.slide-enter.slide-enter-active {
  opacity: 1;
  transform: scale(1) translateY(0);
  transition: opacity 700ms linear, transform 700ms ease-in-out;
}

/* slide exit */
.slide-exit {
  opacity: 1;
  transform: scale(1) translateY(0);
}
.slide-exit.slide-exit-active {
  opacity: 0;
  transform: scale(0.97) translateY(5px);
  transition: opacity 100ms linear, transform 100ms ease-out;
  // color: rgb(68, 9, 230);
  color: rgb(255, 255, 255);
}
.slide-exit-done {
  opacity: 0;
  // color: rgb(14, 144, 251);
  // backgroundcolor: royal;
}
